.notes { counter-reset: h1; }
.notes h1 { counter-reset: h2; }
.notes h2 { counter-reset: h3; }
.notes h3 { counter-reset: h4; }
.notes h4 {}
.notes h5 {}
.notes h6 {}

.notes h1:before {
    counter-increment: h1; 
    content: counter(h1) ". "}
    
.notes h2:before {
    counter-increment: h2; 
    content: counter(h1) "." counter(h2) ". "}
 
.notes h3:before {
    counter-increment: h3; 
    content: counter(h1) "." counter(h2) "." counter(h3) ". "}


.notes h1 {
    font-size: 1.8rem;
}

.notes h2 {
    font-size: 1.44rem;
}

.notes h3 {
    font-size: 1.3rem;
}

.notes h4 {
    font-size: 1.3rem;
    font-style: oblique;
}

.notes h5 {
    font-size: 1.1rem;
    font-style: oblique;
}

.notes h6 {
    font-size: .8rem;
    font-weight: bold;
}

@media only screen
and (max-device-width:576px){
    .notes h1 {
        font-size: $h2;
    }
    .notes h2 {
        font-size: $h3;
    }
    .notes h3 {
        font-size: $h4;
    }
    .notes h4 {
        font-size: $h5;
    }
    .notes h5 {
        font-size: $h6;
    }
    .notes h6 {
        font-size: $h7;
    }
}