
/******************************************************************************/

// Fonts 
$serif-font: 'Cormorant Garamond','Garamond','Hoefler Text',serif !default;
$sans-font: Lato,Helvetica, Verdana, sans-serif !default;
$monospace-font: 'Cousine', 'Source Code Pro', Consolas, monospace !default;
$body-font: $serif-font;
$heading-font: $sans-font;
$code-font: $monospace-font;

// Font Sizes 
$base-size: 18px !default;
$small-size:  16px !default;
$medium-size:  18px !default;
$large-size:  20px !default;
$title-size: 5rem !default;
$page-title: 2.5rem !default;
$post-title: 2.5rem !default;
$description-size: 1.6rem !default;
$h1: 2rem !default;
$h2: 1.6rem !default;
$h3: 1.3rem !default;
$h4: 1rem !default;
$h5: .8rem !default;
$h6: .7rem !default;
$h7: .6rem !default;
$h8: .5rem !default;
$h9: .4rem !default;
$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;
$h00-responsive-max: 7.68rem !default;
$h0-responsive-max: 5.76rem !default;
$h1-responsive-max: 3.84rem !default;
$abbr-border-bottom: 1px black dotted !default;

// Font Weight

$bold-font-weight: bold !default;
$heading-font-weight: 400 !default;

// Line Height 
$line-height: 1.5 !default;
$heading-line-height: 1.3 !default;

// Whitespace
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 40px;

// Page width
$measure-width: 42rem !default;


// Viewport widths
$viewport-small: 600px;
$viewport-medium: 768px;
$viewport-large: 1000px;

// Colors
$red:               #FF3636 !default;
$red-1:             #f95020 !default;
$orange:            #F29105 !default;
$orange-1:          #ffcc22 !default;
$blue:              #2698BA !default;
$blue-1:            #0076df !default;
$dark-blue:         #00369f !default;
$green:             #00ab37 !default;
$green-1:           #11D68B !default;
$green-2:           #00cf26 !default;
$dark-green:        #009f06 !default;
$light-green:       #ddffdd !default;
$lime_green:        #B7D12A !default;
$purple:            #B509AC !default;
$pink:              #f92080 !default;
$light-pink:        #ffdddd !default;
$yellow:            #efcc00 !default;

$white:             #fff !default;
$dark-gray:         #333 !default;
$mid-gray:          #666 !default;
$light-gray:        #ccc !default;
$lighter-gray:      #eee !default;

$dark_grey:         #17202a !default;
$grey-green:        #424949 !default;
$medium_grey:       #2c3e50 !default;
$light_grey:        #d5d8dc !default;
$bright_blue:       #3498db !default;
$dark_red:          #b03a2e !default;
$off-black: 		#231F20 !default;
$off-white: 		#fffff8 !default;

$grey-color:        #828282;
$grey-color-light:  lighten($grey-color, 40%);
$grey-color-dark:   darken($grey-color, 25%);

$darken-1:          rgba(#000,.0625) !default;
$darken-2:          rgba(#000,.125) !default;
$darken-3:          rgba(#000,.25) !default;
$darken-4:          rgba(#000,.5) !default;

$theme-color:       $dark-blue;
$code-color:        $dark-grey;
$text-color:        $off-black;
$background-color:  $off-white;


// Links
$link-color:        $theme-color;
$link-hover-color:  darken($theme-color, 40%);

// Header
$nav-height: 56px;

// Footer
$footer-border-top: thin solid $grey-color-dark;
$footer-padding: .5rem;
$footer-color: $light-gray;
$footer-bg-color: $grey-color-dark;
$footer-font-weight: 400;
$footer-font-size: .7rem;


// Breakpoints
$breakpoint-md: '(min-width: 52em)';
$breakpoint-xl: '(min-width: 96em)';


// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $heading-font;


// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;


// Borders
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;


// Code
$pre-border-radius: 0;
$pre-background-color: #fafafa;
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;



/******************************************************************************/


/* portfolio tinkering */
$img_spacing: 5px;
$img-height: 275px;
$caption-font-size: 12px;
$caption-color: #aaa;

/* add on-palm to be consistent with other jekyll theme media queries */
$on-palm:  800px !default;
