<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    
{% include vita-header.html %}

<div class="page-content">

<div class="wrapper">
<div class="post">
    
 <article class="post-content {{page.title}} clearfix">
    
<div class="vita">

<!-- cv head -->

<div class="container">
  <div class="row">
    <div class="col">{{ page.affiliation }}</div>
    <div class="col">{{ page.phone }} &nbsp; <i class="fas fa-phone"></i></div>
    <div class="w-100"></div>
    <div class="col">{{ page.address1 }}</div>
    <div class="col"><a href="{{ page.email }}">{{ page.email }}</a> &nbsp; <i class="fa fa-envelope"></i></div>
  </div>
</div>

<!-- <div class='vita-head'>
  <div class='row'>
    <div class='column'>
      <div class="column left ">{{ page.affiliation }}</div>
    </div>
    <div class='column'>
      <div class="column right">{{ page.phone }} &nbsp; <i class="fas fa-phone"></i></div>
    </div>
  </div>

  <div class='row'>
    <div class='column'>
      <div class="column left">{{ page.address1 }}</div>
    </div>
    <div class='column'>
      <div class="column right"><a href="{{ page.email }}">{{ page.email }}</a> &nbsp; <i class="fa fa-envelope"></i></div>
    </div>
  </div>

    <div class='row'>
	  <div class='column'>
	    <div class="column left">{{ page.address2 }}</div>
	  </div>
	  <div class='column'>
	    <div class="column right"><a href="https://www.emfink.net/ElonLaw">{{ page.web }}</a> &nbsp; <i class="fas fa-globe"></i></div>
	  </div>
	</div>
</div>

<div class="row">
  <div class="column left "><h6>{{ page.affiliation }}</h6></div>
  <div class="column right"><h6>{{ page.phone }} &nbsp; <i class="fas fa-phone"></i></h6></div>
</div>

<div class="row">
  <div class="column left"><h6>{{ page.address1 }}</h6></div>
  <div class="column right"><h6><a href="{{ page.email }}">{{ page.email }}</a> &nbsp; <i class="fa fa-envelope"></i></h6></div>
</div>

<div class="row">
  <div class="column left"><h6>{{ page.address2 }}</h6></div>
  <div class="column right"><h6><a href="https://www.emfink.net/ElonLaw">{{ page.web }}</a> &nbsp; <i class="fas fa-globe"></i></h6></div>
</div>
 -->


<div class="vita-author">
<h1 class="vita-author">{{ page.author }}</h1>
</div> 



<!-- cv body -->

{{ content }}

</div> 

</article>

</div>
</div>


{% include footer.html %}

{% include hemline.html %}


<!-- Statcounter code for Emfink.net ElonLaw
https://www.emfink.net/ElonLaw/ -->
<script type="text/javascript">
var sc_project=11987940; 
var sc_invisible=1; 
var sc_security="0389e5e8"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/11987940/0/0389e5e8/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->

</body>

</html>
